#about-header {
  font-size: 50px;
}

#about {
  margin-top: 5rem;
}
.about-img {
  color: black !important;
  width: 20px;
}
.user-img {
  width: 120px;
  margin-bottom: 1rem;
}
#icon-row {
  padding-top: 3rem;
}
