#Footer {
  background-color: #f8a074;
  color: #32021e;
}
.footer-anchor {
  text-decoration: none;
  color: #32021e;
}
.footer-anchor:hover {
  text-decoration: none;
  color: #32021e;
  border-bottom: 3px solid #6a2539;
  border-right: 3px solid #6a2539;
  border-left: 3px solid #6a2539;
  border-top: 3px solid #6a2539;
}
.Footer-header {
  font-weight: bolder;
}
