.card-img-top {
  width: 100%;

  height: 15vw;
  background-color: black;
  object-fit: cover;
}

.card-body {
  background-color: #fce7be;
}
.card {
  border: 0 !important;
}
a.blog-link :hover {
  text-decoration: none;
}
