#property-listing-wrapper {
  background-color: #f8a074;
}
#property-card {
  box-shadow: 0 6px 10px #6a2539, 0 0 6px#6a2539;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  border-radius: 50%;
  background-color: #f8a074 !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px #6a2539, 0 4px 8px #6a2539;
}
.card-img-top {
  border-radius: 30% !important;
}
.card-footer {
  background-color: #f8a074 !important;
}
.property-listing-badge {
  background-color: #6a2539;
  color: #f8a074;
}
