@import url("http://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background-color: #fce7be;
  color: #32021e;
}
#root h3 {
  color: #32021e;
}
#root p {
  color: #32021e;
}
#root button {
  background-color: #6a2539;
  border: 0;
  color: #f8a074;
}
#root a {
  color: #32021e;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
