@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "Playfair Display", serif;
}
#root {
  color: #32021e;
}
#root h3 {
  color: #32021e;
  font-size: 40px;
}
#root p {
  color: #32021e;
}
/* #root button {
  background-color: #6a2539;
  border: 0;
  color: #f8a074;
} */
#root a {
  color: #32021e;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
